-@obj=ObjectiveQuestion.new
-4.times do
  -@obj.question_answers.build
%h1
-@obj.question_answers.each_with_index do |question_answer,i|
  = f.simple_fields_for :question_answers_attributes, question_answer, index: i do |qa|
    %tr
      %td.text-center{style:"width:10%;"}
        =qa.check_box :fraction, :checked => (question_answer.fraction == true) ? true : false
      %td
        =qa.cktext_area :answer_english, :class => "form-control", required:true, :ckeditor => { :height => 100 }
