.container{style:'margin-top:6%;'}
  %ul.nav.nav-tabs
    %li.ui-state-default.ui-corner-top
      %a{href: " "} All Assessments
    %li.ui-state-default.ui-state-active.ui-corner-top
      =link_to "Create Assessment",assessment_quiz_new_path
  .tab-content
    .tab-pane{:id => "my_assessments"}
      %h3 my_assessments
    .tab-pane{:id => "create_assessment"}
      %h3 Create assessment
      %ul.nav.nav-tabs
        %li=link_to "Instructions", "#instructions", "data-toggle" => "tab"
        %li=link_to "Create Questions", "#create_question", "data-toggle" => "tab"
        %li=link_to "Preview", "#preview", "data-toggle" => "tab"
        %li=link_to "Upload", "#upload", "data-toggle" => "tab"
    .tab-pane.active{:id => "all_quizzes"}
      =render 'all_assessments'
