#content_header.text-center
  %div.page-header
    %h1#main_heading Get Quizz
    %br
.container
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th  S.no
        %th Guid
        %th Quiz name
        %th No of Questions
    %tbody
      - @quiz.each_with_index do |quiz,i| 
        %tr
          %td= i+1
          %td= quiz.guid
          %td= link_to quiz.name,assessment_quiz_questions_path(id:quiz.id)
          %td= quiz.question_ids.count