.container{style:'margin-top:4%;'}
  %h3 Questions
  - @questions.each_with_index do |q,i|
    %table.table-striped.table-bordered{style:"width: 100%;"}
      %tbody
        %tr
          %td=i+1
          %td=(Question.get_updated_text(q.question_language_specific_datas.where(language: Language::ENGLISH)[0].question_text) rescue 'question text').html_safe
        -if (q.qtype=='SmcqQuestion')||(q.qtype=='MmcqQuestion')||(q.qtype=='TrueFalseQuestion')
          - q.question_answers.each_with_index do |qa,i|
            %tr
              %td{style:"width:10%;"}
                %input{:name => "#{q.id}_#{qa.id}", :type => "radio", value:"1", checked: (qa.fraction==true) ? true : false, style:'cursor: not-allowed;pointer-events: none;'}
              %td
                %span= Question.get_updated_text(qa.answer_english) rescue 'answer'.html_safe

        -elsif q.qtype=="FibQuestion"
          %tr
            %td A
        -elsif q.qtype== 'SubjectiveQuestion'
          %tr
            %td A
            ="\n"
        -#%tr
        -#  %td Hint:
        -#  %td= q.hint.html_safe
        -#%tr
        -#  %td Actual Answer:
        -#  %td= q.actual_answer.html_safe
        %tr
          %td Explanation:
          %td=(Question.get_updated_text(q.question_language_specific_datas.where(language: Language::ENGLISH)[0].general_feedback) rescue 'explanation').html_safe
        %tr
          %td= link_to "Edit", assessment_question_edit_path(id:q.id), class:'btn btn-default', target:'_blank'
          %td
        %br
        %br
