.container{style:'margin-top:4%;'}
  %h3 Upload Zip to create Assessments from ETX's
  %br
  %div
    =form_tag(assessment_post_zip_upload_question_path,{:multipart=>true,:method=>:post}) do
      =label_tag :file,"Choose Publisher"
      = select_tag "publisher_question_bank_id", options_for_select(@publisher_question_banks.map {|pqb| [pqb.name, pqb.id] }), class:'btn btn-default'
      %br
      %br
      =label_tag :file,"Create Quiz / Only Questions"
      = select_tag "quiz_or_questions", options_for_select([['Create Quiz','Create Quiz'],['Create Only Questions','Create Only Questions']]), class:'btn btn-default'
      %br
      %br
      =label_tag :file,"Assessment Type"
      = select_tag "type", options_for_select(@quiz_types), class:'btn btn-default'
      %br
      %br
      %input{:name => "name", :type => "text", :placeholder => "Quiz Name", style:'width:25%;'}
      %br
      %br
      =file_field_tag :zip_file, accept: 'zip', class:'btn btn-default'
      %br
      %br
      =submit_tag "Upload", class:'btn btn-default'

















  