.container{style:'margin-top:4%;'}
  %h3 Sections
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th S.no
        %th Name
        %th No of Questions
    %tbody
      %tr
        - @sections.each_with_index do |s,i|
          %tr
            %td= i+1
            %td= link_to s.quiz_section_language_specific_datas.where(language: Language::ENGLISH)[0].name,assessment_section_questions_path(id:s.id), target:'_blank'
            %td= s.question_ids.count
            %td= link_to "Edit",assessment_section_edit_path(id:s.id), target:'_blank'
